.columnForm {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    font-size: 12px;

    @media (max-width: 768px) {
          flex-direction: column; 
    }     
  }
  
  .columnForm input,
  .columnForm Button {
    padding: 10px;
    margin: 10px;
  }