/* FlexGallery.css */
.flex-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Adjust gap as needed */
    justify-content: center; /* Center the gallery items */
    background-color: black; /* Match background color */
    padding: 16px; /* Optional padding */
}

.flex-gallery-item {
    /*flex: 1 1 calc(33.333% - 32px); /* Adjust width and gap as needed */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure the image fits nicely */
}

.gallery-image {
    height: 200px;
    width: auto;
}
