@import '../../styles/settings.scss';

.container {
    display: flex;
    height: auto;
  }
  
.column {

padding: 10px;
border: 1px solid #ccc;
}

.auto {
flex-grow: 1;
}

.link {
    text-decoration: none;
    color: inherit;
}

.logo {
    font-size: 1rem;
    font-weight: bold; 
    color: $color-light;
}

.linkActive {
    color: $color-warning;
    font-weight: bold;
}

